body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color:aquamarine;
  
}

.demo {
    display: flex;
    justify-content: center;
}

.img img{
    width:4rem;

}

.img{
    display: flex;
    justify-content: center;
    gap:1rem;

}
ul{
  list-style-type: none;
}
.main-container{
    background-color: blanchedalmond;
    border:2px solid black;
}